<h1>Posts, tagged with <%= @tag_name %></h1>

<%= will_paginate @posts %>
<br>
<% @posts.each do |post| %>
	<li>
		<%= link_to post.title, post %>
		<p><%= post.content %></p>
		<p>by <%= link_to post.user.nickname, post.user %>
    <%= time_ago_in_words post.created_at %> ago</p>
		<% if !current_user.nil? && current_user.email == post.user.email %>
			<%= link_to 'Delete this post', post, :method=> :delete, confirm: "You sure?" %>
			<br>
		<% end %>
		<br>
	</li>
<% end %>
<%= will_paginate @posts %>
