<div class="page-header">
<h1><%= @post.title %></h1>
</div>

<div class="post-header">
<p>posted by <%= link_to @post.user.nickname, @post.user %> at <%= @post.created_at %> (<%= time_ago_in_words @post.created_at %> ago)</p>
</div>
<div class="post-content">
<%= @post.content %>
</div>

<div class="tags">
<h5>Tags</h5>
<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <span id="tag">
    <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
  </span>
<% end %>
<br>
</div>

<div class="comments">
<h5>Comments (<%= pluralize(@post.comments.count, 'comment') %>)</h5>
<% @post.comments.each do |comment| %>
	<% if !comment.created_at.nil? %>
		<% if !comment.user_id.nil? %>
      <span><%= link_to User.find(comment.user_id).nickname, User.find(comment.user_id) %> writes <%= time_ago_in_words comment.created_at%> ago:<br>
		<% else %>
			Anonymous writes <%= time_ago_in_words comment.created_at%> ago:<br>
		<% end %>
	  <p><%= comment.content %></p>
	<% end %>
<% end %>
</div>

<div class="row">
  <div class="span6 offset1">
<%= form_for [@post, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @comment.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.text_field :content %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
</div>
</div>
